.flashes {
    list-style: none;
    padding: 0;
}

.flashes li.success {
    background-color: rgba(0, 128, 0, 0.275);
    text-align: center;
}

.flashes li.error {
    background-color: rgba(255, 0, 0, 0.276);
    text-align: center;
}

.background-success {
    background-color: rgb(99, 196, 99, 0.8);
    border-radius: 15px;
    margin: 10px;
}

.background-warning {
    background-color: rgba(0, 42, 255, 0.507);
    border-radius: 15px;
    margin: 10px;
}

.background-danger {
    background-color: rgb(223, 109, 109, 0.8);
    border-radius: 15px;
    margin: 10px;
}

.form-width {
    width: 540px;
}
