{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div><img src="{{ url_for('static', filename='images/logo.png') }}" width=200px></div>
        <div class="text-center">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3 mx-auto" style="max-width: 355px;">
                    {{ form.username(class="form-control", id="floatingInput", placeholder="ph") }}
                    <label for="floatingInput">{{ form.username.label.text }}</label>
                </div>
                <div class="form-floating mb-3 mx-auto" style="max-width: 355px;">
                    {{ form.password(class="form-control", id="floatingInput", placeholder="ph") }}
                    <label for="floatingInput">{{ form.password.label.text }}</label>
                </div>
                <div>
                    {{ form.submit(class='btn btn-outline-success') }}
                </div>
                <div>
                    <br>
                    Not have an account yet? <a href="{{ url_for('register') }}"> Sign up</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}