{% extends 'base.html' %}


<!-- Adding nav options to the original nav-->
{% block nav%}
{{ super() }}
    <a class="nav-link" href="{{ url_for('edit_user', username=user.username) }}">Edit user info</a> 
    <a class="nav-link" href="{{ url_for('delete_user', username=user.username) }}">Delete account</a>  
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
    
    <h2 class="text-center">Hello, {{ user.name}}! </h2>
    <div class="container"> 
        <p >Would you like to add a new income or outcome?</p> 
        <a href="{{ url_for('add_income', username=user.username)}}" class="btn btn-primary">
            New income   
        </a>
        <a href="{{ url_for('add_outcome', username=user.username)}}" class="btn btn-danger">
            New outcome  
        </a>
    </div>

    {% else %}
        <a href="{{ url_for('home')}}">Login</a>
    {% endif %}

    <!-- Showing Incomes and Outcomes on a table-->
    <div class="container">
        <div class="col">
            {% if user.incomes %}
                <h4 class="text-center text-success">Incomes</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in user.incomes %}
                            <tr>
                                <td>{{ income.amount }}</td>
                                <td>{{ income.type }}</td>
                                <td>{{ income.description }}</td>
                                <td>{{ income.date }}</td>
                                <td> 
                                    <a class="btn btn-secondary" href="{{ url_for('edit_transaction', id=income.id, transaction_type='income') }}">Edit</a>
                                    <a class="btn btn-danger" href="{{ url_for('delete_transaction', id=income.id, transaction_type='income') }}">X</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <!-- Showing Outcomes on a table-->
        <div class="col">           
            {% if user.outcomes %}
                <h4 class="text-danger text-center">Outcomes</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for outcome in user.outcomes %}
                            <tr>
                                <td>{{ outcome.amount }}</td>
                                <td>{{ outcome.type }}</td>
                                <td>{{ outcome.description }}</td>
                                <td>{{ outcome.date }}</td>
                                <td>                                   
                                    <a class="btn btn-secondary" href="{{ url_for('edit_transaction', id=outcome.id, transaction_type='outcome') }}">Edit</a>
                                    <a class="btn btn-danger" href="{{ url_for('delete_transaction', id=outcome.id, transaction_type='outcome') }}">X</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}