{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ form.username(class="form-control", id="floatingInput", placeholder="ph") }}
            <label for="floatingInput">{{ form.username.label.text }}</label>
        </div>
        
        <div class="form-floating mb-3">
            {{ form.name(class="form-control", id="floatingInput", placeholder="ph") }}
            <label for="floatingInput">{{ form.name.label.text }}</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.password(class="form-control", id="floatingInput", placeholder="ph") }}
            <label for="floatingInput">{{ form.password.label.text }}</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.confirm_password(class="form-control", id="floatingInput", placeholder="ph") }}
            <label for="floatingInput">{{ form.confirm_password.label.text }}</label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    
    

    <p>Already registred? <a href="{{ url_for('home') }}">Login</a></p>
{% endblock %}